@font-face {
  font-family: 'Norse';
  src: url('font/Norse-Bold.otf');
}

  font-family: Norse;

.gameboard-cell {
  border: 1px solid black;
  width: 33.33%;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.gameboard-cell[id='0'],
.gameboard-cell[id='1'],
.gameboard-cell[id='2'] {
  border-top: none;
}

.gameboard-cell[id='0'],
.gameboard-cell[id='3'],
.gameboard-cell[id='6'] {
  border-left: none;
}

.gameboard-cell[id='2'],
.gameboard-cell[id='5'],
.gameboard-cell[id='8'] {
  border-right: none;
}

.gameboard-cell[id='6'],
.gameboard-cell[id='7'],
.gameboard-cell[id='8'] {
  border-bottom: none;
}

.player-card {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  position: absolute;
  color: red;
}

.player-card:last-child {
  right: 0;
}

dialog {
  font-size: 6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: greenyellow;
  font-weight: bold;
  color: purple;
  text-align: center;
  min-width: 400px;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
}
